<button class="btn btn-danger rounded mt-2" id="delete-button">Удалить</button>

<script>
    document.getElementById('delete-button').addEventListener('click', function () {
        if (confirm('Вы уверены, что хотите удалить этого пользователя?')) {
            fetch('{{ url_for('delete_user', user_id=user.id) }}', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    window.location.href = '{{ url_for('get_users_for_site') }}';
                } else {
                    alert('Ошибка при удалении пользователя');
                }
            });
        }
    });
</script>